<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site_user_status.name %>
</p>

<%= link_to 'Edit', edit_site_user_status_path(@site_user_status) %> |
<%= link_to 'Back', site_user_statuses_path %>
