<p id="notice"><%= notice %></p>

<p>
  <strong>Baas:</strong>
  <%= @manage_user.baas_id %>
</p>

<%= link_to 'Edit', edit_manage_user_path(@manage_user) %> |
<%= link_to 'Back', manage_users_path %>
