<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @creation_status.name %>
</p>

<%= link_to 'Edit', edit_creation_status_path(@creation_status) %> |
<%= link_to 'Back', creation_statuses_path %>
